.chartCont{
    margin-left: 125px;
    margin-right: 125px;
    padding: 0 10px;
}
.rightbanner {
    width:125px; height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 20px;
}
.leftbanner{
    width:125px; height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .rightbanner {padding-top: 15px;}
    .leftbanner {padding-top: 15px;}
}
