body{
    background: black;
}

.mainBody{
    color: white;
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0 10px;
}

.rightbanner {
    width:200px;
    height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
}
.leftbanner{
    width:200px;
    height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}

/*
@media screen and (max-height: 450px) {
    .rightbanner {padding-top: 15px;}
    .leftbanner {padding-top: 15px;}
}
**/
